<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>


    <logger name="com.researchworx.cresco.controller.regionalcontroller.ControllerDB" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.regionalcontroller.GlobalControllerChannel" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.regionalcontroller.AgentDiscovery" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.ActiveAgentConsumer" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.ActiveBroker" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.ActiveProducer" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.ActiveProducerWorker" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.ActiveBrokerManager" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.ActiveRegionConsumer" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.BrokeredAgent" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.communication.BrokerMonitor" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryClientWorkerIPv6" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryClientIPv6" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryClientWorkerIPv4" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryClientIPv4" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryEngine" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryStatic" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryEngineWorker" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.netdiscovery.DiscoveryCrypto" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
<logger name="com.researchworx.cresco.library.plugin.core.CPlugin" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.library.plugin.core.CExecutor" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.researchworx.cresco.controller.core.MsgRoute" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="plugincore.WatchDog" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>