<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>


    <logger name="regionalcontroller.ControllerDB" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="regionalcontroller.AgentDiscovery" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.ActiveAgentConsumer" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.ActiveBroker" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.ActiveProducer" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.ActiveBrokerManager" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.ActiveRegionConsumer" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.BrokeredAgent" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="communication.BrokerMonitor" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="netdiscovery.DiscoveryClientWorkerIPv6" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryClientIPv6" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryClientWorkerIPv4" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryClientIPv4" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryEngine" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryEngineWorker" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="plugincore.PluginEngine" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="plugincore.WatchDog" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>