<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="ActiveMQ.ActiveAgentConsumer" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="ActiveMQ.ActiveBroker" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="ActiveMQ.ActiveRegionConsumer" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="netdiscovery.DiscoveryClientWorkerIPv6" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryClientIPv6" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="netdiscovery.DiscoveryEngine" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="plugincore.PluginEngine" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>